:root {
  --purple: #070140;
  --purple1: #0b025b;
  --white: #fff;
  --white1: #f9f9f9;
  --dark1: #212529;
}

body {
  background-color: var(--white1);
  /* //   font-size: 1.1rem; */
  font-family: "Poppins", sans-serif;
}
.bg-purple {
  background-color: var(--purple);
}
.text-purple {
  color: var(--purple);
}
.btn-purple {
  background-color: var(--purple);
  color: var(--white);
  font-weight: 600;
}
.btn-purple:hover {
  background: var(--purple1);
  color: var(--white);
}
.logo-w {
  width: 200px;
}
.bg-banner {
  background-image: url(../images/banner-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  transition: 0.5s ease-in-out;
  background-color: var(--white);
}
.nav-pills .nav-link {
  color: var(--dark1);
  font-weight: 600;
}
.fixed-h {
  display: none;
}
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--purple);
  transition: 0.5s ease-in-out;
  z-index: 9;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.fixed-header .nav-pills .nav-link {
  color: var(--white);
}
.fixed-header .normal-h {
  display: none;
}
.fixed-header .fixed-h {
  display: block;
}
.fixed-header .btn-purple {
  background-color: var(--white);
  color: var(--purple);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--white);
  color: var(--purple);
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
/* // about css */
#About {
  background: url(../images/rectangle_1.png) no-repeat center 0;
  background-position: center bottom;
  background-size: cover;
  padding: 4rem 0rem 11rem;
}

/* // skills css */
#Skills {
  background-image: url(../images/banner-bg1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.client-info {
  padding: 25px 30px;
  background: var(--purple);
  text-align: center;
  position: relative;
  margin-top: 25px;
}
.client-info .lage {
  font-family: "Rubik", sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 85px;
  position: relative;
}
.client-info .smll {
  text-align: left;
  color: var(--white);
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  margin-left: 20px;
}
.client-info .call-now {
  padding-top: 50px;
  text-align: left;
  margin-bottom: 40px;
}
.client-info .call-now span {
  font-size: 60px;
  font-weight: 700;
  color: var(--white);
}

/* //   project css */
#Projects {
  background: url(../images/rectangle_1.png) no-repeat center 0;
  background-position: center top;
  background-size: cover;
  padding: 10rem 0rem 14rem;
}
.thumbnail {
  background: #fff;
  max-width: 100%;
  height: 300px;
  border: 2px solid #f7f7f7;
  padding: 20px;
  overflow: hidden;
}
.thumbnail img {
  -webkit-transition: transform 7s;
  -moz-transition: transform 7s;
  transition: transform 5s;
  width: 100%;
}
.thumbnail:hover img {
  transform: translateY(-71%);
}
/* // contact */
#Contact .icon i {
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  line-height: 50px;
  background-color: var(--white);
  color: var(--purple);
}
i.fas.fa-phone-alt {
  background: var(--white);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  line-height: 50px;
}
.lh-35 {
  line-height: 35px;
}
.about-text {
  letter-spacing: 0.8px;
  line-height: 30px;
}
.card-skills {
  background-color: #4c35750f;
  border-radius: 8px;
}
.card-skills:hover {
  transition: 0.5s ease-in-out;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.mobile-footer-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
}
.mobile-footer-menu .navbar {
  background-color: var(--purple);
  box-shadow: 0 -0.5rem 1rem rgb(9 9 9 / 81%) !important;
}
.mobile-footer-menu .navbar .nav-pills .nav-link {
  background: 0 0;
  border: 0;
  border-radius: var(--bs-nav-pills-border-radius);
  padding: 16px 8.2px;
  color: #fff !important;
}
@media (max-width: 1199.9px) {
  .w-50 {
    width: 75% !important;
  }
}
@media (max-width: 991.9px) {
  .w-50 {
    width: 100% !important;
  }
  .nav-pills .nav-link {
    padding: 7px 10px;
  }
  #Skills h4.h5 {
    font-size: 17px;
  }
  .client-info {
    padding: 25px 12px;
  }
}
@media (max-width: 767.9px) {
  .logo-w {
    width: 150px;
  }
  .client-info {
    padding: 25px 30px;
  }
  #About {
    padding: 2rem 0rem 6rem;
  }
  #Skills {
    padding-bottom: 3rem;
  }
  #Skills .skills-flex {
    justify-content: center;
  }
  #Projects {
    background-size: contain;
    padding: 5rem 0rem 1rem;
  }
  .thumbnail {
    background: #cccccc;
    height: 250px;
    border: 0px solid #706b6b;
    padding: 4px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
  .m-fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--purple);
    transition: 0.5s ease-in-out;
    z-index: 99;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 62%) !important;
  }
  .m-fixed-header .normal-h {
    display: none;
  }
  .m-fixed-header .fixed-h {
    display: block;
  }
  .m-fixed-header .btn-purple {
    background-color: var(--white);
    color: var(--purple);
  }
  .fixed-header {
    position: fixed;
    top: unset;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--white);
    transition: 0.5s ease-in-out;
    z-index: 99;
    box-shadow: 0 -0.5rem 1rem rgb(0 0 0 / 62%) !important;
  }
  .desktop-nav {
    padding: 0px;
  }
  .desktop-nav .nav-pills .nav-link {
    padding: 13px 8px;
    border-radius: 0px;
  }
  .fixed-header .nav-pills .nav-link {
    color: #000;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background-color: var(--purple);
    color: #fff;
  }
}
